h1 { color: #FFF8F0; text-align: center; font-size: 32px; }

h2 { color: #FFD700; border-bottom: 1px solid #7B1E00; }

a { color: #ED4A00; text-decoration: none; }

body { background-color: #E63B00; color: #000000; font-family: monospace; }

a { color: #FFD700; text-decoration: none; }

a:hover { color: #FFA500; text-decoration: underline; }

img { max-width: 100%; height: auto; border: 4px solid #7B1E00; border-radius: 13px; display: block; margin: 20px auto; }
